@use "typography";
@use "variables";
@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;700;900&display=swap');

:root {
  --primary: #{variables.$color-primary};
  --secondary: #{variables.$color-secondary};
  --accent: #{variables.$color-accent};
}

html, body {
  @include typography.Montserrat;
}

body {
  margin: 0;
}

#__next {
  height: 100% !important;
}

main {
  min-height: 90vh;
}
